<h1>All Posts</h1>

<% if @posts.empty? %>
  <div class="no-posts-message">
    <h2> You do not have any posts yet! </h2>
    <h3> Get started by creating a post by clicking the link below </h3>
  </div>
<% else %>
  <ul class="posts-index">
    <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post_url(post) if post.user == current_user %>
    </li>
    <% end %>
  </ul>
<% end %>


<%= link_to "Create New Post", new_post_url %>
